.themed-container{
    padding-top: 50px;
}

img{
    height:50%;
    width:218%;
}

label{
    font-size: 13px;
}

.image_profile {
    display: flex;
    margin: 0 auto;
}

#uploadimage {
    margin-left: 90px;
    margin-top: 37px;
}
#subcont{
    margin-top: 50px;
    margin-bottom: 50px;
}
#subheader{
    margin:20px left;
}
